.p1, .p2{
    font-size: 25px;
    font-weight: bolder;
    color: goldenrod;
   
}
.p3{
    font-size: 25px;
    font-weight: bolder;
    color: firebrick;
}

.result {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.fimage{
    width: 1349px;
    height: 1000px;
    position: relative;
    bottom: 1700px;
    animation-name: ex;
    animation-duration: 10s;
}


@keyframes ex{
   from{
      position: relative;
      bottom: 1650px;
   }
   to{
      position: relative;
      bottom: -60px;
   }
}

